.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.vs
*.os
*.obj
*.pdb
*.ilk
*.exp
*.lib
~*
.sconsign.dblite
config.log
.sconf_temp
compile_commands.json
build_cmake
.cache
vcpkg_installed
.prettierrc
__pycache__
build
build-ide
CMakeUserPresets.json